body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center; /* Center horizontally */
    max-width: 100%;
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-around;
    height: calc(45px);
    background-image: linear-gradient(to right, #0b0d38,#01010a);
    position: fixed;
    width: calc(100%); /* Adjust for padding */
    z-index: 1000;
    box-sizing: border-box;
}
.navbar a {
    font-family: Georgia, serif;
    font-size: 18px;
    color: silver;
    text-decoration: none;
    padding: 15px 30px;
}
.navbar a:hover {
    background-color: #9fbac4; 
    color: black;
}
.hero-image {
    background-image: url('bikeim1.jpg'); /* Add your image here */
    height: 100vh; /* Use vh as a relative measurement to the viewport height */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.line {
    width: calc(100%);
    height: calc(4vh);
    background-color: black;
    box-sizing: border-box;
    padding-block: 20px;
    opacity: 0.8;
}
.line-thin {
    width: calc(66%);
    height: 2px;
    background-color: #bdbdbd;
    box-sizing: border-box;
    opacity: 1;
    margin: -25px 22% 0 22%;
}
.line-thin-short {
    width: calc(38%);
    height: 2px;
    background-color: #bdbdbd;
    box-sizing: border-box;
    opacity: 1;
    margin: -25px 31% 0 31%;
}

.space {
    width: calc(100%);
    height: calc(4vh);
    box-sizing: border-box;
}
.lessspace {
    width: calc(100%);
    height: calc(2vh);
    box-sizing: border-box;
}

.hero-text {
     width: 100%;
    padding-top: 35vh;
            /* Removed the negative padding-left as it is not a valid way to move content to the right */
    text-shadow: 0 0 2px #fff, 0 0 5px #fff;
}
.titletext {
    font-family: Baskerville, serif;
    font-size: 130px;
    text-decoration: none;
    padding: 5px 30px;
    margin: 0; /* Removes default margin from h1 to control spacing more precisely */
    color: white;
    letter-spacing: .2rem;
}
.subtitle-cont {
    width:70%;
    margin: 0 15% 0 15%;
}
.subtitle {
    font-family: Baskerville, serif;
    font-size: 70px;
    text-decoration: none;
    padding: 5px 30px;
    margin: 0; /* Removes default margin from h1 to control spacing more precisely */
    color: white;
    letter-spacing: .2rem;
}
.subtitle-cont2 {
    width:70%;
    margin: 0 20% 0 10%;
}
.subtitle-2 {
    font-family: Baskerville, serif;
    font-size: 80px;
    text-decoration: none;
    padding: 5px 30px;
    margin: 0; /* Removes default margin from h1 to control spacing more precisely */
    color: white;
    letter-spacing: .2rem;


.product-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.product {
    text-align: center;
    width: 30%;
    margin: 15px;
}

.product-image {
    width: 100%;
    height: auto;
}
